@import 'bootstrap/dist/css/bootstrap.min.css';

.form-select{
    padding: 10px !important;
    border: 1px lightgray solid !important;
    border-radius: 4px;
    color: grey;
    width: 100%;
}

.form-select:focus {
    border-color: gray;
    outline-color: gray;
    box-shadow: none !important;
}

.cursor-pointer{
    cursor: pointer;
}

.actions .edit{
    color: #247F70;
}
.actions .delete{
    color: rgb(225, 67, 43);
}